[submodule "libs/libwebp"]
	path = libs/libwebp
	url = https://github.com/webmproject/libwebp.git
	branch = 1.3.2
[submodule "libs/SteamworksSDK"]
	path = libs/SteamworksSDK
	url = https://github.com/rlabrecque/SteamworksSDK
[submodule "libs/discord-rpc"]
	path = libs/discord-rpc
	url = https://github.com/discord/discord-rpc
