/* Lightweight non-ZH theme. */
*
{
    font-family: Calibri;
    font-size: 10pt;
    color: white;
}

LoadFromTheFileWindow, SetUpWindowsWrapper, LoadFromTheGameWindow, SettingsWindow, SelectProfileWindow, QWidget#pSettingsWindow, QDialog
{
    background-color: #171717;
}

EditorWindow
{
    background-color: #171717;
}

QPushButton, QComboBox
{
    font-weight: bold;
    color: white;
    background-color: #611927;
    border: 2px outset #ffb3a7;
    border-radius: 3px;
    padding: 8px;
}

QPushButton:hover, QComboBox:hover
{
    background-color: #9e2435;
    color: #f9e76a;
}

QTreeWidget, QTabWidget, QScrollArea, QStatusBar
{
    background: rgba(0, 0, 0, 0.75);
    border: 1px outset #ffd0c9;
    border-radius: 3px;
    color: white;
}

QTreeWidget::item
{
    min-height: 40px;
}

QTreeWidget::item:selected, QTreeWidget::item:selected:!active
{
    background-color: #9e2435;
    color: white;
}

QScrollArea#Keyboard QPushButton[status="good"] { background-color: #128d2d; }
QScrollArea#Keyboard QPushButton[status="bad"]  { background-color: #cb0d27; }
