/* Lightweight non-ZH theme. */
*
{
    font-family: Calibri;
    font-size: 10pt;
    color: white;
}

LoadFromTheFileWindow, SetUpWindowsWrapper, LoadFromTheGameWindow, SettingsWindow, SelectProfileWindow, QWidget#pSettingsWindow, QDialog
{
    background-color: #211019;
}

EditorWindow
{
    background-color: #211019;
}

QPushButton, QComboBox
{
    font-weight: bold;
    color: white;
    background-color: #5f173b;
    border: 2px outset #f0a6c2;
    border-radius: 3px;
    padding: 8px;
}

QPushButton:hover, QComboBox:hover
{
    background-color: #862456;
    color: #f5e663;
}

QTreeWidget, QTabWidget, QScrollArea, QStatusBar
{
    background: rgba(0, 0, 0, 0.7);
    border: 1px outset #ffd0df;
    border-radius: 3px;
    color: white;
}

QTreeWidget::item
{
    min-height: 40px;
}

QTreeWidget::item:selected, QTreeWidget::item:selected:!active
{
    background-color: #862456;
    color: white;
}

QScrollArea#Keyboard QPushButton[status="good"] { background-color: #128d2d; }
QScrollArea#Keyboard QPushButton[status="bad"]  { background-color: #cb0d27; }
